DATABASE_URL="postgresql://dbusername:dbpassword@localhost:5432/greeting?schema=public"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""
PORT="3000"
EXTERNAL_EMAIL_API_URL="https://email-service.digitalenvision.com.au/send"
